.container {
    width: 80%;
    text-align: center;
    margin: 10% auto;
}

.form {

    & > * {
        margin-bottom: 4rem;
    }

    &__label {
        font-size: 1.8rem;
    }

    &__input {
        height: 5rem;
        width: 7.5rem;
        font-size: 2.6rem;
        text-align: center;
    }
}