.timer {
    font-weight: 300;

    &__sets {
        font-size: 2.2rem;
    }

    &__message {
        font-size: 6rem;
    }

    &__clock {
        font-size: 5.2rem;
        letter-spacing: 1px;
    }
}